.CTASection {

  background-image: url('../../assets/hamburguer_bg.webp');
  background-size: cover;
  background-position: center;
  height: 30vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.overlay {

  background:rgba(242, 183, 5, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;

}

.content{

  text-align: center;

}